/* 메인 시작 */

.content_wrap * {
  text-align: center;
}

/* ===== 상단 카테고리, 정렬 영역 시작 ===== */

.content_wrap .title a {
  margin: 0 30px;
  padding: 3px;
}

.content_wrap .title a[href="#"] {
  border-bottom: 5px solid #ffa900;
}

.content_wrap .title a:hover {
  border-bottom: 5px solid #ffa900;
}

/* ===== 게시글 영역 시작 ===== */
.content_wrap .content_wrap {
  padding: 0 20px;
}

.content_wrap table {
  border-collapse: collapse;
}

.content_wrap table tr {
  background-color: white;
}

.content_wrap table th:nth-child(1),
.content_wrap table th:nth-child(5),
.content_wrap table th:nth-child(6) {
  width: 7%;
}

.content_wrap table th,
td {
  padding: 15px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.content_wrap table td {
  height: 230px;
}

.content_wrap table tbody td img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  vertical-align: middle;
}

.content_wrap table tbody td h4 {
  font-size: 1.5em;
  line-height: 2em;
}

.content_wrap table tbody td p {
  white-space: pre-line;
  height: 95px;
  overflow: hidden;
}

table {
  width: 100%;
}

.content_wrap table tbody tr:hover {
  background-color: #f2f2f2;
}

/* ===== 페이지 이동 ===== */

.content_wrap .page_shift {
  padding: 50px;
}

.content_wrap .page_shift a {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  font-size: 1.2em;
  border: #ffa900 1px solid;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  margin: 0 5px;
}

.content_wrap .page_shift a:hover {
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.5);
}

.content_wrap .page_shift a[href="#"] {
  border: #ff9100 3px solid;
  font-weight: bold;
}

/* ===== 검색 조건 및 글쓰기 영역 시작 ===== */
.search_and_post {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.search_and_post select {
  margin: 0 20px;
}

.search_and_post select,
input,
button {
  padding: 7px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
  border: 1px solid;
}

.search_and_post span {
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  margin-left: 5px;
}

.search_bar {
  display: flex;
  align-items: center;
}

.search_and_post button {
  font-weight: bold;
  padding: 10px;
  border: none;
  background-color: #ffe344;
  margin-right: 20px;
}
