/* 메인 시작 */

* {
  text-align: center;
}

/* ===== 상단 카테고리, 정렬 영역 시작 ===== */

.title a {
  margin: 0 30px;
  padding: 3px;
}

.title a[href="#"] {
  border-bottom: 5px solid #ffa900;
}

.title a:hover {
  border-bottom: 5px solid #ffa900;
}

/* ===== 게시글 영역 시작 ===== */
.content_wrap {
  padding: 0 20px;
}

table {
  border-collapse: collapse;
}

table tr {
  background-color: white;
}

table th:nth-child(1),
table th:nth-child(5),
table th:nth-child(6) {
  width: 7%;
}

table th,
td {
  padding: 15px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

table td {
  height: 230px;
}

table tbody td img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  vertical-align: middle;
}

table tbody td h4 {
  font-size: 1.5em;
  line-height: 2em;
}

table tbody td p {
  white-space: pre-line;
  height: 95px;
  overflow: hidden;
}

table {
  width: 100%;
}

table tbody tr:hover {
  background-color: #f2f2f2;
}

/* ===== 검색 조건 및 글쓰기 영역 시작 ===== */
.search_and_post {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.search_and_post select {
  margin: 0 20px;
}
.search_and_post select,
input,
button {
  padding: 7px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.search_and_post span {
  vertical-align: middle;
  font-size: 1.3em;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}

.search_and_post button {
  margin-right: 20px;
  padding: 7px 10px;
}
