.nonmbordercheck {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 50px auto;
    background-color: #fff;
    height: 650px;
    border-top: 2px solid #ffa900;
    border-bottom: 2px solid #ffa900;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nonmbordercheck .img_container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nonmbordercheck .img_container img {
    width: 700px;
    height: 550px;
    box-sizing: border-box;
}

.nonmbordercheck .nonmbordercheck_container {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.nonmbordercheck .nonmbordercheck_container .nonmbordercheck_box {
    border-radius: 5px;
    line-height: 30px;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.nonmbordercheck .nonmbordercheck_container .nonmbordercheck_box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form_wrap {
    width: 60%;
    justify-self: center;
}

.nonmbordercheck_container .nonmbordercheck_box input[type="text"],
.nonmbordercheck_container .nonmbordercheck_box input[type="number"],
.nonmbordercheck_container .nonmbordercheck_box input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #b0a1a1;
}


.nonmbordercheck .nonmbordercheck_container .nonmbordercheck_box input[type="password"] {
    margin: 0;
}

.nonmbordercheck .nonmbordercheck_container .nonmbordercheck_box input[type="submit"] {
    border: 1px solid #ffa900;
    cursor: pointer;
    background-color: #fff;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
}

.nonmbordercheck .nonmbordercheck_container .nonmbordercheck_box input[type="submit"]:hover {
    transition: .5s;
    background-color: #ffe344;
}